<table>
  <thead>
    <tr>
      <th>Brand Name</th>
      <th>Generic Name </th>
      <th>Intake</th>
      <th>Administration</th>
      <th>Active Ingredients</th>
      <th>Administration</th>
      <th>Sandler</th>
    </tr>
  </thead>
  <tbody>
      {{#each parsedData}}
       {{>searchTable}}
       {{/each}}
  </tbody>
</table>
