<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
    crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Med Trax - Fast, Easy Medicine Tracking</title>
</head>

<body data-spy="scroll">

    {{{ body }}}


    <footer class="footer">
        <div class="container footer-stuff">
            {{!-- <i class="fas fa-github-square fa-lg" data-fa-transform="grow-6" sityle="color:#fff"></i> --}}

            <p class="footer-text"><a class="footer-text" href="https://github.com/aspecker/OTC-drug-tracker">&copy; Med Trax 2018</a></p>
        </div>
    </footer>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
  <script src="/js/search.js"></script>
  <script src="/js/med.js"></script>
</body>


</html>
