
<div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container">
        <h1 id="jumbo" class="animated flash">Pill Pal</h1>
            <p class="">We track your health so you don't have to.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">
                     <i class="fas fa-search fa-lg" style="color:#fff"></i>   SEARCH MEDS</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">
                    <i class="fas fa-user fa-lg" style="color:#fff"></i>   MY PILL PAL</a>
            </p>
        
        </div>
</div>

    <div class="container">
       <div id="test"></div>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <h3 id="about">About Pill Pal</h3>
            <p>
                Pill Pal Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            </p>
                    
            <h3 id="howTo">Guide</h3>
            <h1>1.</h1>
            <p>Login</p>
            <p>
                Keep track with us. Once you're done, 
            </p>
            <p>Mei partiendo comprehensam ea. Te vel graeci dictas, et duo tantas concludaturque. Eu veri congue consectetuer pro. Et omittam explicari imperdiet eos, ea vis mundi nihil dissentias. Illud facilis nam an, nec in habeo ignota maluisset, ut enim apeirian suscipiantur duo. Erant civibus sapientem duo ad, sit at magna reque.</p>
            <p>Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            </p>
            <p>Mei partiendo comprehensam ea. Te vel graeci dictas, et duo tantas concludaturque. Eu veri congue consectetuer pro. Et omittam explicari imperdiet eos, ea vis mundi nihil dissentias. Illud facilis nam an, nec in habeo ignota maluisset, ut enim apeirian suscipiantur duo. Erant civibus sapientem duo ad, sit at magna reque.</p>
            <p>Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            </p>

            <p class="text-muted">DISCLAIMER</p>
            
            <h4 id="contact">Contact Us</h4>
            
        </div>
    </div>