<nav class="navbar navbar-default navbar-fixed-top" id="nav-blue">
  <div class="container-fluid">

    <a href="#" class="navbar-brand navbar-nav">
        {{!-- icon --}}
            <i class="fas fa-pills fa-lg fa-spin" data-fa-transform="grow-5" style="color:#fff"></i>
        </a>{{!-- LOGIN/LOGOUT DROPDOWN --}}
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Med Trax <span class="caret"></span></a>

        <ul class="dropdown-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/login">{{message}}</a></li>
          {{#if isActive}}
            <li><a class="nav-link" href="/logout">Logout</a></li>
          {{else}}
            <li><a class="nav-link" href="/signup">Register</a></li>
          {{/if}}
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link blue" href="/search">Search</a>
      </li>
    </ul>

    {{!-- navbar right --}}
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#howTo">Guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

{{!-- JUMBOTRON --}}
<div class="jumbotron jumbotron-fluid vertical-center parallax-index">
  <div class="container">
    <h1 id="jumbo" class="animated flash">Med Trax</h1>
    <p class="">We track your health so you don't have to.</p>
    <p>
      <a class="btn btn-lg btn-index" href="/search" role="button">S E A R C H
                </a>
      <a class="btn btn-lg btn-index" href="/login" role="button">M Y &nbsp;M E D &nbsp; T R A X
                </a>
    </p>
  </div>
</div>

<div class="container-fluid" id="tall">
  <div data-spy="scroll" data-target="#body" data-offset="0">
    <div class="container-fluid parallax-about">
      <h3 id="about">About Med Trax</h3>

      <p class="index">
        Tired of not remembering your exact medication history at every medical appointment? You are not alone, and it's why we decided to make Med TraX to help you search medicines, track your history, and find important information about the drugs you're taking. You have the ability to create a profile, search the FDA labeling records, and maintain a history of all the drugs and vitamins you take. Never waste valuable time with your physician again!
      </p>
    </div> {{! .parallax}}

    <div class="container-fluid parallax-guide">
      <h3 id="howTo">Guide</h3>
      <p class="index"><strong>Make an account and keep track of your medications today!</strong></p>
      <p class="index">We'll guide you through the process of creating your account. You'll feel empowered to take charge of your medication history through fast, easy logging of your medicines. Lets get tracking! First, <a href='/signup'>create an account</a> by clicking at the top on the My Med Trax dropdown menu and clicking 'Register'. After registering your account, you'll be automatically logged in and sent to your medicine page, which will be empty at first.
        Next, head to the search page from the link at the top of the page, and search for the medications you are taking. Adding a medicine is as simple as clicking a button. Repeat for as many medicines as you'd like. Navigate back to My Med Trax and your medications will be loaded onto your hub. From here, you can find important information about your medicines, as well as archive them. More features are in production. Please contact us with any questions or comments.   - The Med Trax team
      </p>

    </div>
  </div>

  <div class="container-fluid parallax-contact">
    <h4 id="contact">Contact Us</h4>

    <!-- Contact inputs -->
    <form method="POST" action="https://formspree.io/pillpalposse@gmail.com">
      <div>
        {{!-- <h4 class="text-teal">Name:</h4> --}}
        <input type="text" name="name" placeholder="Name" class=" form-control">
      </div>
      <br>
      <div>
        {{!-- <h4 class="text-teal">Email:</h4> --}}
        <input type="text" name="email" placeholder="Email" class=" form-control">
      </div>
      <br>
      <div>
        {{!-- <h4 class="text-teal">Message:</h4> --}}
        <textarea class="full-width form-control" name="message" cols="100" placeholder="Message" rows="5"></textarea>
      </div>
      <input type="hidden" name="_subject" value="from Pillpal" />
      <br>
      <!-- submit button -->

      <b class="text-center"><button class="btn btn-default btn-index">Submit</button></b>
    </form>
    <!-- End of Contact inputs -->

  </div> {{! Contact Div }}
  <div class="alert alert-info" role="alert">
    <small class="text-muted">DISCLAIMER</small>
    <p>We are an open source project utilizing the Federal Drug Administration's openFDA labelling API. We assume no responsibility or liability for any errors or omissions in the content provided on this site. To learn more about where our data comes from, please head <a href='https://open.fda.gov/api/'>here</a>.
    </p>
  </div>
</div> {{! Scroll Spy Div}}
</div> {{! Container-fluid Div}}


</div>
