
<div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container">
        <h1 id="jumbo" class="animated flash">Pill Pal</h1>
            <p class="">We track your health so you don't have to.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/search" role="button">
                     <i class="fas fa-search fa-lg" style="color:#fff"></i>   SEARCH MEDS</a>
                <a class="btn btn-primary btn-lg" href="/login" role="button">
                    <i class="fas fa-user fa-lg" style="color:#fff"></i>   MY PILL PAL</a>
            </p>

        </div>
</div>

{{!-- <div class="parallax"> --}}
    <div class="container parallax">
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

            <h3 id="about">About Pill Pal</h3>
            <p>
            Ever been asked by your doctor which drugs or vitamins you have been taking of recent and did not have an adequate answer? We have and its the last thing we want to have happen to you. And so, we created this app to help you search, track, and keep history of all the over the counter drugs you have taken in your recent history. You have the ability to create a profile and maintain a history of all the numerous drugs or vitamins you have been taking. Never again will you not be able to answer your doctor!
            </p>

            <h3 id="howTo">Guide</h3>
            Make an account and keep track of your pills today!
            </strong></p>
            <p>Awesome! You are going to create an account and start to track your pills. This will be a journey like no other as your life is about to change. There will be no more embarassing moments with the doctor after they ask you what pills you are or have been taking recently. We can avoid this!

            Lets get tracking! Please click the search buttons located in the center and top left of the page. You will be redirected to the page and will immediately be able to search for any over the counter drugs. Upon finding a drug you would like to add, please click the add button. Voila! You have added a drug and can look at your current and past drug additions in the profile section.

            Thank you for using Drug Tracker and we hope you enjoy our website!
            </p>

            <p class="text-muted">DISCLAIMER</p>
            <p>Drug Tracker is an open source project utilizing the Federal Drug Administration's application programming interface. Drug Tracker assumes no responsibility or liability for any errors or omissions in the content provided on this site.
            </p>
             <h4 id="contact">Contact Us</h4>
               <p>Health Junks LLC</p>
               <p>13 Apple Aday Drive Pillsville, MD 91313</p>


        <!-- Contact inputs -->

        <form method="POST" action="https://formspree.io/pillpalposse@gmail.com">
            <div>
                <h4 class="text-teal">Name:</h4>
                <input type="text" name="name" placeholder="John Smith" class="full-width form-control">
            </div>
            <br>
            <div>
                <h4 class="text-teal">Email:</h4>
                <input type="text" name="email" placeholder="example@gmail.com" class="full-width form-control">
            </div>
            <br>
            <div>
                <h4 class="text-teal">Message:</h4>
                <textarea class="full-width form-control" name="message" cols="100" rows="5"></textarea>
            </div>
            <input type="hidden" name="_subject" value="from Pillpal" />
            <br>
            <!-- submit button -->
            <button class="btn btn-default submit-btn" id="submit-button">Submit</button>
        </form>
        <!-- End of Contact inputs -->

    </div>
    </div>

        </div>
    {{!-- close container div  --}}
    </div>
{{!-- close parallax indep div --}}
</div>
