<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Catchy Phrase</h1>
            <p class="lead">Lorem ipsum dolor sit amet, his minimum consectetuer ne, libris qualisque dissentiet te mel. Sanctus dolorem ocurreret eam ne, sed mazim possim atomorum id, voluptaria interpretaris an mel. Vim iuvaret contentiones cu, vix cibo percipit te. An vidit intellegat pri, unum aperiri ea nec. Sed duis errem in. Novum abhorreant pri in. Et his natum hendrerit.
                </p>
            <!-- <hr class="my-4"> -->
            <p>disclaimer</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">SEARCH</a>
                <a class="btn btn-primary btn-lg" href="/signup" role="button">MY OTC</a>
            </p>
        
        </div>
    </div>

    <div class="container">
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <h4 id="about">About Us</h4>
            <p>Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            </p>
                    
            <h4 id="howTo">How To</h4>
            <p>Mei partiendo comprehensam ea. Te vel graeci dictas, et duo tantas concludaturque. Eu veri congue consectetuer pro. Et omittam explicari imperdiet eos, ea vis mundi nihil dissentias. Illud facilis nam an, nec in habeo ignota maluisset, ut enim apeirian suscipiantur duo. Erant civibus sapientem duo ad, sit at magna reque.</p>
            <p>Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            </p>
            <p>Mei partiendo comprehensam ea. Te vel graeci dictas, et duo tantas concludaturque. Eu veri congue consectetuer pro. Et omittam explicari imperdiet eos, ea vis mundi nihil dissentias. Illud facilis nam an, nec in habeo ignota maluisset, ut enim apeirian suscipiantur duo. Erant civibus sapientem duo ad, sit at magna reque.</p>
            <p>Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            </p>
            <p>Mei partiendo comprehensam ea. Te vel graeci dictas, et duo tantas concludaturque. Eu veri congue consectetuer pro. Et omittam explicari imperdiet eos, ea vis mundi nihil dissentias. Illud facilis nam an, nec in habeo ignota maluisset, ut enim apeirian suscipiantur duo. Erant civibus sapientem duo ad, sit at magna reque.</p>
            <p>Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.Lorem ipsum dolor sit amet, nec ea meis hendrerit, impetus delectus sit no, cum id congue gloriatur definitionem. Te amet choro sea, has in corpora suscipiantur. Te eum cibo vocibus assentior. Duis probo propriae an pri, pro quod liber facilis ne. Dictas senserit maiestatis cu sed, est et electram assentior, per te civibus praesent.
            </p>

            <p class="text-muted">DISCLAIMER</p>
            
             <h4 id="contact">Contact Us</h4>  


        <!-- Contact inputs -->
        
        <form method="POST" action="https://formspree.io/pillpalposse@gmail.com">
            <div>
                <h4 class="text-teal">Name:</h4>
                <input type="text" name="name" placeholder="John Smith" class="full-width form-control">
            </div>
            <br>
            <div>
                <h4 class="text-teal">Email:</h4>
                <input type="text" name="email" placeholder="example@gmail.com" class="full-width form-control">
            </div>
            <br>
            <div>
                <h4 class="text-teal">Message:</h4>
                <textarea class="full-width form-control" name="message" cols="100" rows="5"></textarea>
            </div>
            <input type="hidden" name="_subject" value="from Pillpal" />
            <br>
            <!-- submit button -->
            <button class="btn btn-default submit-btn" id="submit-button">Submit</button>
        </form>
        <!-- End of Contact inputs -->
        
    </div>
    </div>
            
        </div>
    </div class="container">
