<div class='wrapper'>
{{!-- NAV BAR --}}
<nav class="navbar navbar-default navbar-fixed-top" id="nav-blue">
  <div class="container-fluid">

    {{!-- logo --}}
     <a href="/" class="navbar-brand navbar-nav">
        {{!-- icon --}}
        <i class="fas fa-pills fa-lg fa-spin" data-fa-transform="grow-5" style="color:#fff"></i>
    </a>
        
    {{!-- login/logout dropdown --}}
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Pill Pal <span class="caret"></span></a>
                
        <ul class="dropdown-menu">
          <li><a href="/meds">My Meds</a></li>
          <li><a href="/login">{{username}}</a></li>
          <li><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
      </li>
      {{!-- SEARCH --}}
      <li class="nav-item">
        <a class="nav-link blue" href="/search">Search</a>
      </li>
    </ul>
  </div>
</nav>
{{!-- ------------------------------- --}}
{{!-- MAIN CONTENT --}}
<div class="container medPage" id="tall">
    <div class="row"> 
      {{!-- search input column --}}
      <div class="col-md-12 search-input">
        <h3 id="title">Drug Search</h3>

        <div class="input-group">
          <input id="fdaSearch" type="text" class="form-control search-input" placeholder="Enter name of drug" aria-describedby="basic-addon2">
          
          <span id="searchBtn" class="input-group-addon btn-submit" id="basic-addon2">Search</span>
        </div>

 
      </div> {{! col 1}}
    </div>
      
    
      
    {{!-- search results column --}}
    <div class="row">
        <div id='error'></div>
    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
      <div class="col-md-12 search-table">
      <table class="table">
        <thead>
          <tr>
            <th>Brand</th>
            <th>Generic Name </th>
            <th>Purpose</th>
            <th>Active Ingredients</th>
            <th>Add</th>
          </tr>
        </thead>
        <tbody id="searchResults"></tbody>
    </table>
      </div> {{! col 2}}
    </div> {{! row 1}}



    {{!-- SEARCH INPUT AND RESULTS --}}
  

    <br><br><br>
    {{!-- <h1>Search Results:</h1> --}}
    
    

  </div> <!-- end scroll div -->
</div>
</div>

        <!-- modal windows -->
        <div class="modal fade" id="warning" role="dialog">
            <div class="modal-dialog">
                <!-- modal content -->
                <div class="modal-content">
                    <!-- modal header -->
                    <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body">
                        
                    </div>
                    <!-- modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-primary close-button" data-dismiss="modal">Okay</button>
                    </div>
                </div>
            </div>
        </div>
</div>
