<style media="screen">
  th {
    text-align: center;
    color: tomato;
    font-weight: bold;
    border: 2px solid black;

  }
</style>
<div class="container-fluid">
  <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <h3 id="title">Drug Search</h3>
    <input id="fdaSearch" type="text" placeholder="Type Name of drug" autofocus="autofocus" />
    <button id="searchBtn">Search</button>
    <div id="error"></div>
    <h1>Search Results:</h1>
    <table>
      <thead>
        <tr>
          <th>Brand Name</th>
          <th>Generic Name </th>
          <th>Indications</th>
          <!-- <th>Administration</th> -->
          <th>Active Ingredients</th>
          <th>Add</th>
        </tr>
      </thead>
      <tbody id="searchResults">

      </tbody>
    </table>

  </div>
</div>
</div>

        <!-- modal windows -->
        <div class="modal fade" id="warning" role="dialog">
            <div class="modal-dialog">
                <!-- modal content -->
                <div class="modal-content">
                    <!-- modal header -->
                    <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body">
                        
                    </div>
                    <!-- modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-primary close-button" data-dismiss="modal">Okay</button>
                    </div>
                </div>
            </div>
        </div>
