
body {
    /* for top nav */
    padding-top: 50px;
}

/* INDEX PAGE */
/* --------------------------------------------- */
.parallax {
    background-image: url("../assets/felix.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* nav bar */
.nav-link {
    color: #fff;
    font-size: 18px;  
}

#nav-blue {
    background-color: #105dfb;
    color: #fff;
    border-bottom-color: #105dfb;
}

.jumbotron {
    background: #105dfb;
    /* background: linear-gradient(#105dfb 80%, #fff); */
    color: #fff;
    text-align: center;
}

/* centering jumbotron */
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

/* h1 in jumbotron */
#jumbo {
    font-size: 100px;
}

/* h3 header in container */
#about, #howTo, #contact {
    color: #105dfb;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* INDEX PAGE END */

