<div>
    <p>Brand Name: {{brandName}}</p>
    <p>Taking since {{createdAt}}</p>
    <button class='med-btn btn btn-primary' data-id={{fdaMedId}}>Information</button>
    <button class='warn-btn btn btn-warning' data-id={{fdaMedId}}>Warnings</button>
    <br>
</div>
